@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globalne style PBS */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}